.blog{
    background-color: aqua;
    border: 50px yellow;
    border-radius: 15px;
    padding: 20px 40px 100px 200px;
    margin-top: 15px;
    width: 50%;
    height: 60px;
    margin: 0 auto;


}